{% extends 'base.html' %}
{% load on_team %}

{% block content %}
    <div class='w-full h-full flex justify-center'>
        <div>
            <span class="text-blue-600 text-2xl mt-10">{{target_team.name}} Team</span>
            <p class="mb-5">{{target_team.description}}</p>
            {% on_team target_team as am_i_member %}
            {% if am_i_member %}
            <div class="responsible-list">
                {% for member in members %}
                    {% include 'mixins/teams/member_card.html' with member=member %}
                {% endfor %}
                
                
            </div>
            {% if members.has_other_pages %}
                <ul class="flex">
                    {% if members.has_previous %}
                        <li><a href="?page={{members.previous_page_number}}">&laquo;</a></li>
                    {% else %}
                        <li class="hidden"><span>&laquo;</span></li>
                    {% endif %}
                    
                    {% for i in members.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li><span>{{ i }}<span>(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if members.has_next %}
                        <li><a href="?page={{ members.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="hidden"><span>&raquo;</span></li>
                    {% endif %}
                        
                </ul>
            {% endif %}
            {% else %}
                <div class="grid grid-rows-2">
                    <span>이 팀의 구성원이 아니므로 구성원 목록을 볼 수 없습니다.</span>
                    <form method="POST" action="{% url 'teams:member-join' target_team.pk %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="nickname" id="nickname" required>
                        <input type="submit" value="팀 가입" class="bg-indigo-500 text-white w-14 h-6">
                    </form>
                </div>
            {% endif %}
            <!-- TODO: 멤버일 경우 팀 전체의 TODO를 표시 -->
            <!-- TODO: TODO의 긴급도에 따라 색 정하기 -->
            
                
        </div>
    </div>
{% endblock content %}
    