{% extends 'base.html' %}


{% block content %}
    <div class='w-full text-center'>
        <h1>전체 팀 리스트</h1>
    </div>
    <div class="container mx-auto my-4 px-4 responsible-list">
        {% if team_list %}            
            {% for team in team_list %}
                <a href="{% url 'teams:detail' team.pk %}">
                    {% include 'mixins/teams/card.html' with team=team %}
                </a>
            {% endfor %}
        {% else %}
        {% endif %}        
    </div>
{% endblock content %}
    