<a href="{% url 'users:detail' member.pk %}">
    <div class="w-40 h-60 bg-white flex flex-row justify-center">
        {% if member.user.login_method == 'email' %}
            {% if member.user.avatar %}
                <div class="avatar" style="background-image: url({{member.user.avatar.url}});"></div>
            {% else %}
                <div class="w-20 h-20 mt-10 rounded-full text-center text-black bg-pink-200 flex items-center justify-center">
                    <span class="">{{ member.nickname }}</span>
                </div>
            {% endif %}
        {% else %}
                <div class="avatar" style="background-image: url({{member.social_avatar_url}});"></div>
        {% endif %}
    </div>
</a>