{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      @font-face {
        font-family: 'NanumBarunpenB';        
        src: local('NanumBarunpenB'),
        url("{% static 'fonts/NanumBarunpenB.ttf' %}") format("opentype");
      }
      @font-face {
        font-family: 'NanumBarunpenR';        
        src: local('NanumBarunpenR'),
        url("{% static 'fonts/NanumBarunpenR.ttf' %}") format("opentype");
      }
    </style>
    <title>Web ToDo by Django</title>
</head>
<body class="bg-green-100 w-full justify-center" style="font-family: 'NanumBarunpenR'">
    {% include 'partials/header.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'partials/footer.html' %}
</body>
</html>